body {
    background-color: #F3F5FC;
    font-family:"Inter";
       
}

header{
    display: flex; /* para alinear*/
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 1%;
    width: 50%;
}

.logo{
    width: 120px; /*define tamaño*/
    height: 48px;
    padding-top: 10px;
    margin-left: 10px;
    gap: 40px;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 30px;
}

.recibe_texto_input{
    background-color: #F3F5FC;
    width: 547px;
    height: 48px;
    padding-top: 100px;
    margin-left: 240px;
    border: none;
    color: #0A3871;
    font-size: 24px;
    font-weight: 400;
    font-family:"Inter";
    text-transform: lowercase;
}

::placeholder {color:#0A3871}
.recibe_texto_input:focus{
    outline: none;
}

.mensaje {
    background-color: #ffffff;
    background-image: url("Imagenes/Muñeco.png");
    background-repeat: no-repeat;
    color: #0A3871;
    border: none;
    border-radius: 32px;
    width: 350px;
    height: 440px;
    padding-top: 40px;
    margin-left: 80px;
    position: fixed;
    font-family:"Inter";
    font-size: 15px;
}

.mensaje:focus{
    outline: none; /*para que no se resalte el cuadro cuando uno se posiciona*/
}

.botones {
    display: flex;
    margin-left: 150px;
    gap: 24px;



}

.boton_encriptar{
    background-color: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
    font-weight: 280px;
    font-weight: 19px;
    align-items: center;
    
}

.boton_desencriptar{
    background-color: #D8DFE8;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-size: 16px;
    font-weight: 280px;
    font-weight: 19px;
    align-items: center;
    
}

.boton_copiar {
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: #0A3871;
    cursor: pointer;
    margin-left: 108px;
    margin-top: 480px;
    position:absolute;
    width: 300px;

}

.informacion {
    color: #45565F;
    font-size: 11px;
    margin-left: 150px;
    margin-top: 220px;

}

footer {
    text-align: center;
    color: #6482AD;
    text-size-adjust: 10%;
    background-color: #F5EDED;
    padding: auto;
}



